In [2]:
#def function():
#   body of code you want to execute with your function

#function() : calling your function (to execute the code)



def happy():
    print('Happy nugget')

happy()

Happy nugget

In [3]:
happy()

Happy nugget

In [4]:
#You can input arguments into your function for it to do things with it:

def square_num(number):
    print(number**2)

In [5]:
square_num(2)

4

In [6]:
square_num(239)

57121

In [7]:
def square_num_cus(number, power):
    print(number**power)

In [8]:
square_num_cus(2,2)

4

In [9]:
square_num_cus(234,5)

701583371424

In [23]:
def age_telling(name, age):
    if age < 31:
        judgement = 'young'
    else:
        judgement = 'old'
    print (name + ' is ' + str(age) + '.' + ' ' + name + ' is ' + judgement + '.')

In [24]:
age_telling('Nat', 34)
age_telling('Javi',30)

Nat is 34. Nat is old.
Javi is 30. Javi is young.

In [30]:
def age_telling(name, age):
    if age < 31:
        judgement = 'young'
    else:
        judgement = 'old'
    print (name + ' is ' + str(age) + '.' + ' ' + name + ' is ' + judgement + '.')
    
Family_ages = {'Nat':34, 'Javi':30, 'Zeldita':4}

for names, ages in Family_ages.items():
    age_telling(names, ages)

Nat is 34. Nat is old.
Javi is 30. Javi is young.
Zeldita is 4. Zeldita is young.

In [38]:
#Cuando no sabemos cuÃ¡ntos argumentos vamos a inputear:

def lots_numbers(*args):
    print(args[0]*args[1])
    
lots_numbers(5,6,3,5,6,7,9090,448,3,5,5)

30

In [41]:
def lots_numbers(*args):
    print(args[0]*args[1])

num_tuples = (5,6,3,5,6,7,9090,448,3,5,5)

lots_numbers(*num_tuples)

#sin * antes del nombre del tuple da error!

30

In [42]:
def square_num_cus(number, power):
    print(number**power)

#change the order in which you enter arguments if you specify which is which:

square_num_cus(power = 3, number = 5)

125

In [44]:
# arbitrary keyword arguments

def kwarg(**number):
    print('My number is ' + number['Integer'] + " My other number is " + number['Integer2'])

kwarg(Integer = '23455', Integer2 = '4985')

#what comes after the keywords have to be strings, cant be numbers or it breaks

My number is 23455 My other number is 4985